<!-- <h1>{{ title }}</h1> -->

<!-- <app-hello-world></app-hello-world>
<app-user-list></app-user-list> -->
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="text-center">Articles</h3>
    <h5>Add Article</h5>
    <hr />
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          [(ngModel)]="newTitle"
          type="text"
          placeholder="Applications Developer"
          class="form-control"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="link">Link</label>
        <input
          [(ngModel)]="newLink"
          type="url"
          placeholder="http://www.exemple.com"
          class="form-control"
          name="link"
        />
      </div>
      <button
        [disabled]="isEmpty()"
        type="submit"
        class="btn btn-success float-right"
        (click)="addArticle($event)"
      >
        Save
      </button>
    </form>
  </div>
</div>
<hr />
<div *ngFor="let article of sortedArticles()">
  <app-article [article]="article"></app-article>
</div>
